<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <table th:each="item : ${jobs}" class="job-listing" >
        <tr>
            <td>ID </td>
            <td th:text="${item.id}"></td>
        </tr>

        <tr>
            <td> Name </td>
            <td th:text="${item.name}"></td>
        </tr>

        <tr>
            <td> Employer</td>
            <td th:text="${item.employer}"></td>
        </tr>

        <tr>
            <td> Location</td>
            <td th:text="${item.location}"></td>
        </tr>

        <tr>
            <td> Position Type </td>
            <td th:text="${item.positionType}"></td>
        </tr>

        <tr>
            <td> Skill </td>
            <td th:text="${item.coreCompetency}"></td>
        </tr>

    </table>

</div>

</body>
</html>